<!-- <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" > -->
<!-- <log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">
	<appender name="dbexample" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="D:\\Servletlogfile\\dbexample.log"/>
		<param name="Append"            value="true" />
		<param name="ImmediateFlush"    value="true" />
		<param name="MaxFileSize"       value="20MB" />
		<param name="MaxBackupIndex"    value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value=" Time Stamp::%d{ISO8601}  time in millisecs::%-4r  thread::[%t] Log Level:%-5p  Fully Qualified Class Name::%c Message:: - %m%n" />
		</layout>
	</appender>
	<logger name="com.syncoms" additivity="false">
		<level value="ALL" />
		<appender-ref ref="dbexample"/>
	</logger>
	<root>
		<level value="ALL" />
		<appender-ref ref="dbexample" />
	</root>
	
</log4j:configuration> -->
 <!-- <log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
<appender name="jdbcAppender" class="org.apache.log4j.jdbc.JDBCAppender"> 
    <param name="URL" value="jdbc:mysql://my_host/my_database" /> 
    <param name="Driver" value="com.mysql.jdbc.Driver" /> 
    <param name="User" value="my_user_name" /> 
    <param name="Password" value="my_passwod" /> 
    <layout class="org.apache.log4j.PatternLayout"> 
        <param name="ConversionPattern" 
          value="INSERT INTO errorlogs (Date, log_level, Application, Message, Exception) VALUES (TIMESTAMP(now()),'%p', ?? '%m', '%e' )"
        /> 
    </layout> 
</appender>  
</log4j:configuration> -->